<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Question</title>
	<link href="css/site.css" rel="stylesheet" type="text/css">
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" rel="stylesheet">
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
		  rel="stylesheet">
	<script src="js/add_question.js" type="module"></script>
</head>
<body>
<h2>
	<a href="/">
		<i class="icon fas fa-arrow-left"></i>
	</a>
	Create new question
</h2>
<div class="card base-margin">
	<label for="new-question">Question title</label><br>
	<textarea cols="50" id="new-question" name="text" rows="4"></textarea><br>
	<button id="submit-button">Submit</button>
	<p class="hide" id="submit-result"></p>
</div>
</body>
</html>