<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stackowerflow APP</title>
    <link href="css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Stackoverflow APP ---- ADMIN WINDOW ----- OVERFLOW404 NPO</h2>
<div class="container">
    <div class="card base-margin">
        <a href="/new-user">Create new user</a>
    </div>
    <div class="card base-margin">
        <a href="/user-list-for-admin">Users list</a>
    </div>
    <div class="card base-margin">
        <a href="/new-question">Create new question</a>
    </div>
    <div class="card base-margin">
        <a href="/question-list">Questions List</a>
    </div>
</div>
<div>
    <div class="container" style="margin-left: 30px; margin-top: 30px">
        <div class="card">
            <a href="/user-list-sorted-by-name">Users list sorted by name</a>
        </div>
        <div>
            <div class="card" style="margin-left: 10px">
                <a href="/comments-list-by-user">User's questions and answers list</a>
            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 30px; margin-top: 30px">
        <div class="card">
            <a href="/questions-sorted-by-name">Questions sorted by alphabet</a>
        </div>
        <div>
            <div class="card" style="margin-left: 10px">
                <a href="/questions-sorted-by-date">Questions sorted by date</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
