<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stackowerflow APP</title>
    <link href="css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Stackoverflow APP ---- ADMIN WINDOW</h2>
<div class="container">
    <div class="card base-margin">
        <a href="/new-user">Create new user</a>
    </div>
    <div class="card base-margin">
        <a href="/user-list-for-admin">Users list</a>
    </div>
    <div class="card base-margin">
        <a href="/new-question">Create new question</a>
    </div>
    <div class="card base-margin">
        <a href="/question-list">Questions List</a>
    </div>
</div>

<div>
    <div class="container">
        <a href="/main">Normal user</a>
    </div>
    <div class="container">
        <p id="delete-database-tables">Database clear</p>
    </div>
</div>

</body>
</html>