<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Detail</title>
    <link href="css/site.css" rel="stylesheet" type="text/css">
    <script defer src="js/question_detail.js" type="module"></script>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          rel="stylesheet">
</head>
<body>
<h2>
    <a href="/question-list">
        <i class="icon fas fa-arrow-left"></i>
    </a>
    Question Detail
</h2>
<div class="card">
    <table>
        <div>
            <tr>
                <th style="background: coral;width: 120px">Date</th>
                <th style="background: coral;width: 260px">Title</th>
            </tr>
            <tr>
                <th id="question-date"></th>
                <th id="question-text"></th>
            </tr>
        </div>
    </table>
</div>
<div>
    <table  class = "hide card" id="result-table" >
        <thead>
        <tr>
            <th style="width: 260px">Answer</th>
            <th style="width: 120px">Date</th>
            <th class="action-column center">Delete</th>
        </tr>
        </thead>
    </table>
</div>
<div class="container">
    <div class="card">
        <a id="new-answer-button">Add new answer</a>
    </div>
</div>
</body>
</html>