<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Questions List</title>
	<link href="css/site.css" rel="stylesheet" type="text/css">
	<script defer src="js/questions.js" type="module"></script>
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" rel="stylesheet">
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" rel="stylesheet">
</head>
<body>
<h2>
	<a href="/">
		<i class="icon fas fa-arrow-left"></i>
	</a>
	Questions List
</h2>
<div class="card container">
	<table id="result-table">
		<thead>
		<tr>
			<th style="width: 60px">Date</th>
			<th style="width: 180px">Title</th>
			<th style="width: 80px">Number of answers</th>
			<th style="width: 3px" class="action-column center">Delete</th>
		</tr>
		</thead>
	</table>
</div>
</body>
</html>