<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
    <link href="css/site.css" rel="stylesheet" type="text/css">
    <script defer src="js/user_detail.js" type="module"></script>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          rel="stylesheet">
</head>
<body>
<h2>
    <a href="/user-list-for-admin">
        <i class="icon fas fa-arrow-left"></i>
    </a>
    User Detail
</h2>
<div class="card">
    <div>
<!--
        <h4>User id</h4>
        <p id="user-id"></p>
        <h4>User name</h4>
        <p id="user-name"></p>
        <h4>Password</h4>
        <p id="user-password"></p>
        <h4>Email</h4>
        <p id="user-email"></p>
        <h4>Date</h4>
        <p id="user-date"></p>
        <p id="user-isAdmin"></p>
        <h4>Rejected</h4>
        <p id="user-isRejected"></p>
-->
    </div>
    <table id="result-table">
        <thead>
        <tr>
<!--
            <th>User id</th>
            <th>User name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Date</th>
            <th>Admin</th>
            <th>Rejected</th>
            <th class="action-column center">Delete</th>
-->
        </tr>
        </thead>
    </table>
</div>
</body>
</html>